.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-end;

  @media (max-width: 1264px) {
    position: fixed;
    top: 70px;
    left: -100vw;
    z-index: 250;
    transition: left 0.4s ease-in-out;
    background: var(--main-color);
    display: initial;
    justify-content: stretch;
    align-items: stretch;
    margin-left: 0;
    overflow-y: auto;
    padding: 40px 16px 120px;
    width: 300px;

    &.show {
      left: 0;
    }

    &.hidden {
      overflow: hidden;
    }
  }

  @media screen and (max-width: 299px) {
    width: 280px;
  }

  .navLinks {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1264px) {
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      width: var(--full);
      height: auto;
    }

    > li {
      margin-right: 26px;
      width: fit-content;
      height: fit-content;

      &:last-of-type {
        margin-right: 0;
      }

      @media (max-width: 1264px) {
        margin-bottom: 40px;
        width: var(--full);
        margin-right: 0px;
      }

      > a {
        font-size: var(--font-txt-one);
        line-height: 22px;
        color: var(--nav-link-color);
        text-transform: capitalize;
        font-weight: 700;

        @media (max-width: 1264px) {
          color: var(--nav-link-color);
          font-size: var(--font-txt-one);
          font-weight: 700;
        }

        &:hover {
          color: var(--white) !important;
        }
      }

      .active {
        color: var(--white) !important;
        font-weight: 700;
      }
    }

    .nav-btn-div {
      margin-left: 50px;

      @media (max-width: 900px) {
        margin-left: 0px;
      }
    }
  }
}
