    .testimony-item {
      flex-basis: 30.3333%;
      flex-grow: 1;
      height: 300px;
      background: #ffffff;
      border-radius: var(--radius-twenty-four);
      padding: 30px 30px;

      @media screen and (max-width: 1366px) {
        padding: 20px;
      }

      @media screen and (max-width: 700px) {
        height: 210px;
        background: #ffffff;
        border-radius: var(--radius-sixteen);
        padding: 20px;
      }

      p {
        font-size: 14px;
        line-height: 26px;
        font-weight: 500;
        color: #a2a2a2;

        @media screen and (max-width: 1366px) {
          font-size: 14px;
          line-height: 22px;
        }

        @media screen and (max-width: 700px) {
          font-size: 11px;
          line-height: 16px;
          font-weight: 500;
          color: #a2a2a2;
        }
      }

      .testimony-info {
        display: flex;
        align-items: center;
        margin-top: 15px;

        .left {
          img {
            width: 50px;

            @media screen and (max-width: 700px) {
              width: 30px;
            }
          }
        }

        .right {
          display: flex;
          flex-direction: column;
          margin-left: 20px;

          @media screen and (max-width: 700px) {
            margin-left: 10px;
          }

          span {
            margin-bottom: 5px;
            font-size: 14px;
            line-height: 14px;
            font-style: normal;
            font-weight: 700;
            text-transform: capitalize;

            @media screen and (max-width: 700px) {
              margin-bottom: 3px;
              font-size: 10px;
              line-height: 10px;
            }
            &:last-of-type {
              color: #a1a1a1;
              margin-bottom: 0px;
              font-size: 12px;
              text-transform: capitalize;
              font-weight: 700;

              @media screen and (max-width: 700px) {
                margin-bottom: 1px;
                font-size: 10px;
                line-height: 10px;
              }
            }
          }
        }
      }
    }