body.dark-mode {
  .product-card {
    background: #161616;
    // box-shadow: var(--box-shadow-dark);
    // box-shadow: 0.1rem 0.1rem 0.8rem 0.1rem rgb(199 197 197 / 85%);
    // box-shadow: 0.1rem 0.1rem 0.8rem 0.1rem rgba(199, 197, 197, 0.849);

    border-radius: 2px;
    padding: 30px;
    position: relative;
    height: 280px;
    position: relative;
    border: solid 1px var(--gray-txt);

    &::after {
      content: "";
      /* Set the element as full-size */
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      /* Set bg and hide the element + animation */
      background-color: var(--black);
      opacity: 0;
      transition: all 0.5s ease;
      border-radius: var(--radius);
    }

    .circle-div {
      padding: 50px;
      background-color: rgb(17, 16, 16);
      border-radius: 50%;
      height: 220px;
      width: 220px;
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); /* 7. Add this. */
    }

    .product-div {
      img {
        height: 270px;
        width: 270px;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1); /* 7. Add this. */
        transition: all 0.5s ease;
      }
    }

    .title-price {
      h6 {
        margin-top: 5px;

        span {
          color: rgb(97, 97, 97);
          margin-left: 5px;
          // font-size: smaller;
          text-decoration: line-through;
        }
      }
    }

    .product-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); /* 7. Add this. */
      opacity: 0;
      transition: all 0.5s ease;
      z-index: 2;

      .product-act {
        border-radius: 50%;
        background-color: var(--black);
        height: 40px;
        width: 40px;
        position: relative;
        margin-right: 10px;
        transition: all 0.5s ease;
        cursor: pointer;

        &:last-of-type {
          margin-right: 0px;
        }

        .shop-icon {
          // font-size: 17px;
          position: absolute;
          text-align: center;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); /* 7. Add this. */
        }

        &:hover {
          transform: scale(1.1);
          transition: all 0.5s ease;
        }
      }
    }

    &:hover .product-actions {
      opacity: 1;
      transition: all 0.5s ease;
    }
    &:hover::after {
      transition: all 0.5s ease;
      /* Show the overlay on hover */
      opacity: 0.5;
      // backdrop-filter: blur(10px);
      // -webkit-backdrop-filter: blur(10px);
    }
    &:hover .product-div {
      img {
        transition: all 0.5s ease;
        transform: translate(-50%, -50%) scale(1.1);
      }
    }
  }
}

body.light-mode {
  .product-card {
    background: var(--product-light);
    // box-shadow: var(--box-shadow-dark);
    // box-shadow: 0.1rem 0.1rem 0.8rem 0.1rem rgb(199 197 197 / 85%);
    // box-shadow: 0.1rem 0.1rem 0.8rem 0.1rem rgba(199, 197, 197, 0.849);
    border: 1px solid #e7e9eb;
    border-radius: 2px;
    padding: 30px;
    position: relative;
    height: 280px;
    position: relative;

    &::after {
      content: "";
      /* Set the element as full-size */
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      /* Set bg and hide the element + animation */
      background-color: var(--black);
      opacity: 0;
      transition: all 0.5s ease;
      border-radius: var(--radius);
    }

    .circle-div {
      padding: 50px;
      background-color: rgb(249, 249, 249);
      border-radius: 50%;
      height: 220px;
      width: 220px;
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); /* 7. Add this. */
    }

    .product-div {
      img {
        height: 270px;
        width: 270px;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1); /* 7. Add this. */
        transition: all 0.5s ease;
      }
    }

    .title-price {
      h6 {
        margin-top: 5px;

        span {
          color: grey;
          margin-left: 5px;
          // font-size: smaller;
          text-decoration: line-through;
        }
      }
    }

    .product-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); /* 7. Add this. */
      opacity: 0;
      transition: all 0.5s ease;
      z-index: 2;

      // transition: 300ms ease-out;
      // transform: translateY(20px);

      .product-act {
        border-radius: 50%;
        background-color: var(--white);
        height: 40px;
        width: 40px;
        position: relative;
        margin-right: 10px;
        transition: all 0.5s ease;
        cursor: pointer;

        &:last-of-type {
          margin-right: 0px;
        }

        .shop-icon {
          // font-size: 17px;
          position: absolute;
          text-align: center;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); /* 7. Add this. */
        }

        &:hover {
          transform: scale(1.1);
          transition: all 0.5s ease;
        }
      }
    }

    &:hover .product-actions {
      opacity: 1;
      transition: all 0.5s ease;
    }
    &:hover::after {
      transition: all 0.5s ease;
      /* Show the overlay on hover */
      opacity: 0.2;
      // backdrop-filter: blur(10px);
      // -webkit-backdrop-filter: blur(10px);
    }
    &:hover .product-div {
      img {
        transition: all 0.5s ease;
        transform: translate(-50%, -50%) scale(1.1);
      }
    }
  }
}
