.browse-courses {
  padding: 50px 0;
  background-color: var(--gray-bg);

  .browse-head {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    max-width: 850px;

    @media screen and (max-width: 1680px) {
      max-width: 750px;
    }

    @media screen and (max-width: 700px) {
      max-width: 750px;
    }

    h6 {
      color: var(--main-color);
      text-transform: uppercase;
      margin-bottom: 20px;
      font-size: 15px;
    }

    h3 {
      font-size: var(--font-medium-one);
      line-height: 70px;
      font-weight: 700;
      margin-bottom: 30px;

      @media screen and (max-width: 1680px) {
        font-size: var(--font-medium-two);
        font-style: normal;
        line-height: 60px;
        font-weight: 700;
      }

      @media screen and (max-width: 700px) {
        font-size: var(--font-medium-three);
        font-style: normal;
        line-height: 36px;
        font-weight: 700;
      }
    }

    p {
      font-style: normal;
      font-weight: 500;
      font-size: var(--font-txt-one);
      line-height: 26px;
      text-transform: capitalize;
      color: var(--gray-color);
      margin-bottom: 30px;

      @media screen and (max-width: 700px) {
        font-size: var(--font-txt-two);
        font-style: normal;
        max-width: 100%;
      }
    }

    @media screen and (max-width: 900px) {
      max-width: 630px;
      margin: 0 auto;
    }
  }

  .cat-carousel {
    .tab-content {
      margin-top: 50px;

      @media (max-width: 700px) {
        margin-top: 10px;
      }
      .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @media (max-width: 1200px) {
          margin-left: 0px;
          flex-direction: column;
          height: auto;
          width: fit-content;
        }

        @media (max-width: 900px) {
          grid-template-columns: repeat(2, 1fr);
          width: fit-content;
          grid-gap: 36px;
          gap: 36px;
        }

        @media (max-width: 700px) {
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 20px;
          width: fit-content;
          gap: 6px;
        }

        .process-icon {
          font-size: 60px;
          color: var(--main-color);
        }
      }
    }

    .btn-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
    }
  }
}
