.testimonial {
  padding: 100px 0;
  background-color: var(--gray-bg);

  .testimonial-head {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    max-width: 850px;

    @media screen and (max-width: 1680px) {
      max-width: 750px;
    }

    @media screen and (max-width: 700px) {
      max-width: 750px;
    }

    h3 {
      font-size: var(--font-medium-one);
      line-height: 70px;
      font-weight: 700;
      margin-bottom: 30px;

      @media screen and (max-width: 1680px) {
        font-size: var(--font-medium-two);
        font-style: normal;
        line-height: 60px;
        font-weight: 700;
      }

      @media screen and (max-width: 700px) {
        font-size: var(--font-medium-three);
        font-style: normal;
        line-height: 36px;
        font-weight: 700;
      }
    }

    p {
      font-style: normal;
      font-weight: 500;
      font-size: var(--font-txt-one);
      line-height: 26px;
      text-transform: capitalize;
      color: var(--gray-color);
      margin-bottom: 30px;

      @media screen and (max-width: 700px) {
        font-size: var(--font-txt-two);
        font-style: normal;
        max-width: 100%;
      }
    }

    @media screen and (max-width: 900px) {
      max-width: 630px;
      margin: 0 auto;
    }
  }

  .testimonial-carousel {
    margin-top: 40px;

    .custom-pag {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      @media screen and (max-width: 1200px) {
        justify-content: center;
        margin-top: 20px;
      }

      @media screen and (max-width: 900px) {
        justify-content: center;
        margin-top: 20px;
      }
      @media screen and (max-width: 600px) {
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 0px;
      }

      > span {
        width: 10px;
        height: 10px;
        opacity: 1;
        margin: 0 3px !important;
        background-color: #aac4e6;

        &.swiper-pagination-bullet-active {
          width: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 2;

          &::before {
            content: "";
            width: 37px !important;
            height: 10px;
            background: var(--main-color) !important;
            border-top-right-radius: 10px !important;
            border-bottom-right-radius: 10px !important;
            border-top-left-radius: 10px !important;
            border-bottom-left-radius: 10px !important;

            z-index: 2;
          }
        }
      }
    }
  }
}
