.testimonial {
  padding: 100px 0;
  background-color: var(--gray-bg);

  .testimonial-head {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    max-width: 750px;

    h3 {
      font-size: var(--font-medium-one);
      line-height: 70px;
      font-weight: 700;
      margin-bottom: 30px;

      @media screen and (max-width: 1680px) {
        font-size: var(--font-medium-two);
        font-style: normal;
        line-height: 60px;
        font-weight: 700;
      }

      @media screen and (max-width: 700px) {
        font-size: var(--font-medium-three);
        font-style: normal;
        line-height: 36px;
        font-weight: 700;
      }
    }

    p {
      font-style: normal;
      font-weight: 500;
      font-size: var(--font-txt-one);
      line-height: 26px;
      text-transform: capitalize;
      color: var(--gray-color);
      margin-bottom: 30px;

      @media screen and (max-width: 700px) {
        font-size: var(--font-txt-two);
        font-style: normal;
        max-width: 100%;
        // margin: 20px 0 20px 0;
      }
    }

    @media screen and (max-width: 900px) {
      max-width: 630px;
      margin: 0 auto;
    }
  }

  .testimonial-carousel {
    margin-top: 40px;

    .testimony-item {
      flex-basis: 30.3333%;
      flex-grow: 1;
      height: 300px;
      background: #ffffff;
      border-radius: var(--radius-twenty-four);
      padding: 30px 30px;

      @media screen and (max-width: 700px) {
        height: 210px;
        background: #ffffff;
        border-radius: var(--radius-sixteen);
        padding: 20px;
      }

      p {
        font-size: 14px;
        line-height: 26px;
        font-weight: 500;
        color: #a2a2a2;

        @media screen and (max-width: 700px) {
          font-size: 12px;
          line-height: 14.5px;
          font-weight: 500;
          color: #a2a2a2;
        }
      }

      .testimony-info {
        display: flex;
        align-items: center;
        margin-top: 15px;

        .left {
          img {
            width: 50px;

            @media screen and (max-width: 700px) {
              width: 30px;
            }
          }
        }

        .right {
          display: flex;
          flex-direction: column;
          margin-left: 20px;

          @media screen and (max-width: 700px) {
            margin-left: 10px;
          }

          span {
            margin-bottom: 5px;
            font-size: 14px;
            line-height: 14px;
            font-style: normal;
            font-weight: 700;
            text-transform: capitalize;

            @media screen and (max-width: 700px) {
              margin-bottom: 1px;
              font-size: 10px;
              line-height: 10px;
            }
            &:last-of-type {
              color: #a1a1a1;
              margin-bottom: 0px;
              font-size: 12px;
              text-transform: capitalize;
              font-weight: 700;

              @media screen and (max-width: 700px) {
                margin-bottom: 1px;
                font-size: 10px;
                line-height: 10px;
              }
            }
          }
        }
      }
    }

    .custom-pag {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      @media screen and (max-width: 1200px) {
        justify-content: center;
        margin-top: 20px;
      }

      @media screen and (max-width: 900px) {
        justify-content: center;
        margin-top: 20px;
      }
      @media screen and (max-width: 600px) {
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 0px;
      }

      > span {
        width: 10px;
        height: 10px;
        opacity: 1;
        margin: 0 3px !important;
        background-color: #aac4e6;

        &.swiper-pagination-bullet-active {
          width: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 2;

          &::before {
            content: "";
            width: 37px !important;
            height: 10px;
            background: var(--main-color) !important;
            border-top-right-radius: 10px !important;
            border-bottom-right-radius: 10px !important;
            border-top-left-radius: 10px !important;
            border-bottom-left-radius: 10px !important;

            z-index: 2;
          }
        }
      }
    }
  }
}
