.home-brands {
  padding: 100px 0;
  background-color: var(--gray-bg);

  .featured-head {
    // display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    max-width: 750px;

    h6 {
      color: var(--main-color);
      text-transform: uppercase;
      margin-bottom: 20px;
      font-size: 15px;
    }

    h3 {
      font-size: 56px;
      line-height: 70px;
      font-weight: 700;

      @media screen and (max-width: 1680px) {
        // margin-left: 250px;
        font-size: 46px;
        font-style: normal;
        line-height: 60px;
        font-weight: 700;
      }

      @media screen and (max-width: 700px) {
        font-size: 24px;
        font-style: normal;
        line-height: 36px;
        font-weight: 700;
      }
    }

    p {
      line-height: 26px;
      margin: 20px 0px 60px 0;
    }

    @media screen and (max-width: 900px) {
      max-width: 630px;
      margin: 0 auto;
    }
  }

  .cat-carousel {
    margin-top: 40px;

    .testimony-item {
      flex-basis: 30.3333%;
      flex-grow: 1;
      // position: relative;
      height: 300px;
      background: #ffffff;
      border-radius: var(--radius-twenty-four);
      padding: 30px 30px;
      // border: 1px solid #e7e9eb;

      p {
        font-size: 14px;
        line-height: 26px;
        font-weight: 500;
        color: #a2a2a2;
      }

      .testimony-info {
        display: flex;
        align-items: center;
        margin-top: 15px;

        .left {
          img {
            width: 50px;
          }
        }

        .right {
          display: flex;
          flex-direction: column;
          margin-left: 20px;

          span {
            margin-bottom: 5px;
            &:last-of-type {
              margin-bottom: 0px;
            }
          }
        }
      }
    }

    .custom-pag {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      @media screen and (max-width: 1200px) {
        justify-content: center;
        margin-top: 20px;
      }

      @media screen and (max-width: 900px) {
        justify-content: center;
        margin-top: 20px;
      }
      @media screen and (max-width: 600px) {
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 0px;
      }

      > span {
        width: 10px;
        height: 10px;
        opacity: 1;
        margin: 0 3px !important;
        background-color: var(--black);

        &.swiper-pagination-bullet-active {
          width: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 2;

          &::before {
            content: "";
            width: 37px !important;
            height: 10px;
            background: var(--main-color) !important;
            border-top-right-radius: 10px !important;
            border-bottom-right-radius: 10px !important;
            border-top-left-radius: 10px !important;
            border-bottom-left-radius: 10px !important;

            z-index: 2;
          }
        }
      }
    }
  }
}

//7060937125
//0243698367
//3020171781
//yinka
//firstbank
