@font-face {
  font-family: Satoshi-Regular;
  src: url("../assets/fonts/satoshi/Satoshi-Regular.otf");
}

@font-face {
  font-family: Satoshi-Bold;
  src: url("../assets/fonts/satoshi/Satoshi-Bold.otf");
}

@font-face {
  font-family: ClashDisplay-Bold;
  src: url("../assets/fonts/clashdisplay/ClashDisplay-Bold.otf");
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: var(--full);
  scroll-behavior: smooth;
  font-family: Satoshi-Regular;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  background-color: #f8f9fc;
  color: var(--txt-light);
  transition: background-color 0.3s ease;

  width: var(--full);
  height: var(--full);
}

html._fixed,
body._fixed {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

#root {
  max-width: var(--wrapper-max-width);
  min-width: var(--wrapper-min-width);
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 8px;

  @media screen and (max-width: 900px) {
    height: 6px;
  }

  @media screen and (max-width: 600px) {
    height: 4px;
  }
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 2px;
}

// 1114px 1023px 900px 700px

// text
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.2;
  margin: 0;
}

h1,
h3,
h5,
h6,
h4 {
  font-family: ClashDisplay-Bold, sans-serif;
}

h2 {
  font-family: Satoshi-Bold;
}

p {
  font-size: 16px;
  font-family: Satoshi-Regular;
}

// list
ul,
li {
  font-family: Satoshi-Regular;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  font-family: inherit;
  white-space: nowrap;
  text-decoration: none;
}

// button
button {
  outline: none !important;
  font: inherit;
  color: inherit;
  cursor: pointer;
  border: 0;
}

.btn-primary {
  background: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: var(--radius-four);
  color: var(--white);
  font-family: Satoshi-Regular, sans-serif;
  font-size: 14px;
  font-weight: 700;
  transition: background 0.6s ease-in-out;

  &:hover {
    border: 1px solid var(--btn-color);
    background: #0d4e993a;
    color: var(--btn-color);
    transition: background 0.6s ease-in-out;
  }
  &:disabled {
    background-color: #eee;
    border: 1px solid #eee;
    color: #fff;
    cursor: not-allowed;
  }
}

.btn-white {
  background: var(--white);
  border: 1px solid var(--white);
  border-radius: var(--radius-four);
  color: var(--main-color);
  font-family: Satoshi-Regular, sans-serif;
  font-size: 14px;
  font-weight: 700;
  transition: background 0.6s ease-in-out;

  &:hover {
    border: 1px solid var(--main-color);
    background: #0d4e993a;
    color: var(--main-color);
    transition: background 0.6s ease-in-out;
  }
  &:disabled {
    background-color: #eee;
    border: 1px solid #eee;
    color: #fff;
    cursor: not-allowed;
  }
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: var(--radius-four);
  color: var(--white);
  font-family: Satoshi-Regular, sans-serif;
  font-size: 14px;
  font-weight: 700;
  transition: background 0.6s ease-in-out;

  &:hover {
    border: 1px solid var(--white);
    background: #0d4e993a;
    color: var(--white);
    transition: background 0.6s ease-in-out;
  }

  &:disabled {
    background-color: #eee;
    border: 1px solid #eee;
    color: #fff;
    cursor: not-allowed;
  }
}

// .btn-block {
//   width: 100%;
//   height: 55px;
//   max-width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: var(--radius-four);
// }

.btn-large {
  width: 216px;
  height: 54px;
  max-width: 100%;
  display: flex;
  border-radius: var(--radius-four);
  align-items: center;
  justify-content: center;
  text-transform: capitalize;

  @media (max-width: 700px) {
    width: 120px;
    height: 38px;
    max-width: 100%;
    display: flex;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    // text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    // background: var(--btn-color);
  }
}

.btn-medium {
  width: 145px;
  height: 54px;
  max-width: 100%;
  border-radius: var(--radius-four);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;

  @media (max-width: 700px) {
    width: 83px;
    height: 38px;
    max-width: 100%;
    display: flex;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    // text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    // background: var(--btn-color);
  }
}

.btn-transparent-small {
  width: 110px;
  height: 28px;
  max-width: 100%;
  display: flex;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  // text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  // background: var(--btn-color);
}

.btn-white-small {
  width: 73px;
  height: 28px;
  max-width: 100%;
  display: flex;
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  // text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  // background: var(--btn-color);
}

img {
  object-fit: cover;
  display: block;
}

// label {
//   display: block;
//   font-size: 15px;
//   margin-bottom: 4px;
//   color: var(--head-txt);
//   font-family: NotoSans-Medium, sans-serif;

//   span {
//     color: var(--red);
//     margin-left: 5px;
//   }
// }

input:not([type="radio"]),
input:not([type="checkbox"]),
select,
textarea,
.phone-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem;
  outline: none;
  color: inherit;
  width: 100%;
  font-family: inherit;
  border: 1px solid var(--main-color);
  background: #2a2a2b;
  border-radius: var(--radius-two);
  height: 46px !important;
  transition: all 0.3s ease-in-out;
  // padding: 10px;
  color: var(--txt-light);

  &:focus {
    border: 1px solid var(--main-color);
  }
}

.phone-input {
  width: var(--full) !important;
}

.phone-drop {
  background-color: var(--bg-light) !important;
  color: #6b6b6b;
}

.phone-drop-btn {
  background-color: transparent !important;
  border-right: solid 1px #dadada;
  // border-left: none;
  // border-top: none;
  // border-bottom: none;
}

select {
  cursor: pointer;
}

.input-wrapper {
  width: 100%;
  position: relative;
  height: 56px;

  .input-icon {
    position: absolute;
    left: 16px;
    top: 25%;
  }

  .pass-icon {
    position: absolute;
    right: 16px;
    top: 25%;
  }

  > label {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    margin-bottom: 0px;
  }

  input {
    padding: 12px 18px 12px 18px !important;
  }
}

.form-control--disabled {
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

// backdrop
.backdrop {
  position: fixed;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.48);
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.4s ease-in-out;
  // blur property
  // backdrop-filter: blur(10px);
  // -webkit-backdrop-filter: blur(10px);

  @media (min-width: 1265px) {
    display: none;
  }

  &.show {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }
}

.hide-scrollbar {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

// hamburger
.hamburger {
  padding: 0;
  width: fit-content;
}

.hamburger-box {
  border: none !important;
  outline: none !important;
  padding: 0 !important;
  width: 28px !important;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: var(--white);
  width: 28px !important;
  height: 2.8px !important;
  margin: 0;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--white);
  width: 28px !important;
  height: 2.8px !important;
  margin: 0;
}

.hamburger:hover {
  opacity: 1 !important;
}

.wrapper {
  width: 80%;
  // width: 67%;
  margin: 0 auto;
  height: 100%;
  max-width: var(--wrapper-max-width);

  @media (max-width: 1387px) {
    width: 90%;
  }

  @media (max-width: 1315px) {
    width: 95%;
  }

  @media (max-width: 1264px) {
    justify-content: space-between;
  }
}

// swiper
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.2rem !important;
  position: relative;
  font-weight: 900 !important;
  color: var(--main-bg) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg-light);
  border: 1.75px solid var(--text-primary);
  min-height: 56px;
  min-width: 56px;
  border-radius: 7px;
  box-shadow: 0px -14px 28px rgba(4, 28, 209, 0.1);

  @media (max-width: 903px) {
    min-height: 40px;
    min-width: 40px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  z-index: 300 !important;
  opacity: 0.9;
  visibility: hidden;
  //  visibility: visible;

  &.swiper-button-disabled {
    pointer-events: all !important;
    cursor: not-allowed !important;
    visibility: hidden;
  }
}

.swiper-button-prev {
  @media (min-width: 904px) {
    left: 50px !important;
  }
}

.swiper-button-next {
  @media (min-width: 904px) {
    right: 50px !important;
  }
}

.custom-prev1 {
  position: absolute;
  width: 80px;
  height: 80px;
  // background: chartreuse;
  // background: url("../assets/images/prev.svg");
  backdrop-filter: blur(4px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -30px;
  // top: 50%;
  transform: translateY(-50%);
  color: var(--black);
  z-index: 32;
  font-size: 28px;
  cursor: pointer;

  @media screen and (max-width: 1200px) {
    width: 50px;
    height: 50px;
    font-size: 25px;
    left: 0;
  }
}

.custom-next1 {
  position: absolute;
  width: 80px;
  height: 80px;
  // background: chartreuse;
  // background: url("../assets/images/next.svg");
  backdrop-filter: blur(4px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -30px;
  // top: 50%;
  transform: translateY(-50%);
  color: var(--black);
  z-index: 32;
  font-size: 28px;
  cursor: pointer;

  @media screen and (max-width: 1200px) {
    width: 50px;
    height: 50px;
    font-size: 25px;
    // display: none;
    right: 0;
  }
}

.custom-next1,
.custom-prev1,
.custom-next2,
.custom-prev2 {
  &.swiper-button-disabled {
    pointer-events: all !important;
    cursor: not-allowed !important;
    // visibility: hidden;
  }
}

.swiper-slide.swiper-slide-visible.swiper-slide-active {
  h1 {
    animation-name: fadeInDown;
    animation-duration: 2s;
  }
  p {
    animation-name: fadeInRight;
    animation-duration: 2s;
  }
  a {
    animation-name: fadeInUp;
    animation-duration: 2s;
  }
}

.animated {
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  // will-change: opacity, transform, visibility;
}
.animated.fadeIn {
  transform: none;
  visibility: visible;
}
