:root {
  --main-color: #004db3;
  --blue-grey: #ccdbf0;
  --blue: #1e5dce;
  --blue-light: rgba(30, 93, 206, 0.2);

  --white: #fff;
  --dark: #000f24;
  --black: #000000;
  --gray-bg: #f4f7fc;
  --gray-color: #a1a1a1;
  --gray: #a2a2a2;
  --nav-link-color: #aac4e6;

  --form-control-color: #004db3;
  --form-control-disabled: #959495;

  --full: 100%;
  --radius-two: 2px;
  --radius-four: 4px;
  --radius-eight: 8px;
  --radius-sixteen: 16px;
  --radius-twenty-four: 24px;

  --font-max-one: 64px;
  --font-max-two: 55px;
  --font-max-three: 32px;

  --font-medium-one: 56px;
  --font-medium-two: 46px;
  --font-medium-three: 24px;

  --font-min-one: 24px;
  --font-min-two: 12px;
  --font-min-three: 8px;

  --font-txt-one: 16px;
  --font-txt-two: 12px;
  --font-txt-three: 8px;

  --tran: #ffffff00;
  --box-shadow: 0px 15px 26px rgba(1, 73, 159, 0.05);
  --wrapper-max-width: 2620px;
  --wrapper-min-width: 240px;
}
