:root {
  --main-color: #004db3;
  --blue-grey: #CCDBF0;;
  --blue: #1e5dce;
  --blue-light: rgba(30, 93, 206, 0.2);

  --gray-bg: #f4f7fc;
  --gray-color: #a1a1a1;

  --form-control-color: #2568ef;
  --form-control-disabled: #959495;
  --white: #fff;
  --dark: #000f24;
  --black: #000000;

  --full: 100%;
  --radius-two: 2px;
  --radius-four: 4px;
  --radius-eight: 8px;
  --radius-sixteen: 16px;
  --radius-twenty-four: 24px;

  --tran: #ffffff00;
  --box-shadow: 0px 15px 26px rgba(1, 73, 159, 0.05);
  --wrapper-max-width: 2620px;
  --wrapper-min-width: 240px;
}
