.footer {
  width: 100%;
  padding: 150px 0 250px;
  color: var(--white);
  // background: url(../../../assets/images/dotted-bg.png);
  background-color: var(--dark);

  @media (max-width: 903px) {
    padding: 150px 0 250px;
  }

  .wrapper {
    // width: 67%;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-column-gap: 40px;
    height: 100%;
    max-width: var(--wrapper-max-width);

    @media (max-width: 1387px) {
      width: 90%;
    }

    @media (max-width: 1315px) {
      width: 95%;
    }

    @media (max-width: 1203px) {
      display: flex;
      flex-direction: column;
      align-items: center;

      .first {
        order: 1;
        padding-top: 30px;
      }

      .second {
        order: 2;
      }

      .last {
        order: 3;
        padding-bottom: 30px;
      }
    }

    @media (max-width: 903px) {
      display: flex;
      flex-direction: column;
      align-items: center;

      .first {
        order: 1;
        padding-top: 0px;
      }

      .second {
        order: 2;
      }

      .last {
        order: 3;
        padding-bottom: 30px;
      }
    }

    .first {
      p {
        margin-top: 20px;
        color: var(--white);
        font-family: Satoshi-Regular, sans-serif;
        font-size: 16px;
        line-height: 22px;
      }

      @media (max-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
        margin-top: 0px;
        text-align: center;
      }

      @media (max-width: 700px) {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        margin-bottom: 20px;
        margin-top: 0px;
        text-align: left;
        width: 100%;
      }

      .logo {
        width: 200px;
        height: fit-content;

        img {
          // width: 45px;
          // height: 45px;
        }
        // > a {
        //   width: 102px;
        //   background: linear-gradient(to right, #ef8a25, #c833af);
        //   -webkit-background-clip: text;
        //   -webkit-text-fill-color: transparent;
        //   font-size: 28px;
        //   font-weight: 300;

        //   span {
        //     font-size: 28px !important;
        //     font-weight: 900;
        //   }
        // }
      }

      .social-list {
        display: flex;
        align-items: center;
        margin-top: 20px;
        .social-link {
          margin-right: 15px;
          color: var(--black);
          font-size: 20px;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }

      // .newsletter {
      //   width: 100% !important;
      //   p {
      //     margin-bottom: 10px;
      //     color: var(--txt-light);
      //     font-family: NotoSans-Regular, sans-serif;
      //     font-size: 14px;
      //   }
      //   .form {
      //     width: 100% !important;
      //     font-family: NotoSans-Regular, sans-serif;
      //     font-size: 14px;
      //     // margin-top: 31px;
      //   }
      // }
    }
  }

  .second {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    justify-content: space-between;

    @media (max-width: 1200px) {
      margin-left: 0px;
      flex-direction: column;
      height: auto;
      // border-bottom: solid 1px rgba(3, 49, 96, 0.09);
      width: fit-content;
      grid-gap: 66px;
      gap: 66px;
    }

    @media (max-width: 900px) {
      grid-template-columns: repeat(4, 1fr);
      width: fit-content;
      grid-gap: 66px;
      gap: 66px;
    }

    @media (max-width: 700px) {
      grid-template-columns: repeat(1, 1fr);

      width: var(--full);
      gap: 26px;
      // text-align: center;
    }
    .quick-links-wrapper {
      h3 {
        margin-bottom: 15px;
        color: var(--white);
        font-size: 32px;
        font-weight: 600;
        line-height: 39px;
        text-transform: capitalize;

        // 13 RETINA MAC
        @media screen and (max-width: 1680px) {
          font-size: 28px;
          font-weight: 600;
          line-height: 39px;
          text-transform: capitalize;
        }

        @media screen and (max-width: 700px) {
          font-size: 22px;
          font-weight: 600;
          line-height: 39px;
          text-transform: capitalize;
        }
      }
      .quick-links {
        > li {
          margin-bottom: 10px;

          > a {
            color: var(--gray-txt);
            font-family: Satoshi-Regular, sans-serif;
            font-size: 24px;
            line-height: 32px;
            font-weight: 400;

            @media screen and (max-width: 1680px) {
              font-family: Satoshi-Regular, sans-serif;
              font-size: 20px;
              line-height: 30px;
              font-weight: 400;
            }

            @media screen and (max-width: 700px) {
              font-family: Satoshi-Regular, sans-serif;
              font-size: 18px;
              line-height: 22px;
              font-weight: 400;
            }
          }
        }
      }
    }

    .help-wrapper {
      h3 {
        margin-bottom: 15px;
        color: var(--white);
        font-size: 32px;
        font-weight: 600;
        line-height: 39px;
        text-transform: capitalize;

        // 13 RETINA MAC
        @media screen and (max-width: 1680px) {
          font-size: 28px;
          font-weight: 600;
          line-height: 39px;
          text-transform: capitalize;
        }

        @media screen and (max-width: 700px) {
          font-size: 22px;
          font-weight: 600;
          line-height: 39px;
          text-transform: capitalize;
        }
      }

      .quick-links {
        > li {
          margin-bottom: 10px;

          > a {
            color: var(--gray-txt);
            font-family: Satoshi-Regular, sans-serif;
            font-size: 24px;
            line-height: 32px;
            font-weight: 400;

            // 13 RETINA MAC
            @media screen and (max-width: 1680px) {
              font-family: Satoshi-Regular, sans-serif;
              font-size: 20px;
              line-height: 30px;
              font-weight: 400;
            }

            @media screen and (max-width: 700px) {
              font-family: Satoshi-Regular, sans-serif;
              font-size: 18px;
              line-height: 22px;
              font-weight: 400;
            }
          }
        }
      }
    }

    .subscribe-wrapper {
      h3 {
        margin-bottom: 15px;
        color: var(--white);
        font-size: 32px;
        font-weight: 600;
        line-height: 39px;
        text-transform: capitalize;

        // 13 RETINA MAC
        @media screen and (max-width: 1680px) {
          font-size: 28px;
          font-weight: 600;
          line-height: 39px;
          text-transform: capitalize;
        }

        @media screen and (max-width: 700px) {
          font-size: 22px;
          font-weight: 600;
          line-height: 39px;
          text-transform: capitalize;
        }
      }

      .quick-links {
        > li {
          margin-bottom: 10px;

          > a {
            color: var(--gray-txt);
            font-family: Satoshi-Regular, sans-serif;
            font-size: 24px;
            line-height: 32px;
            font-weight: 400;

            // 13 RETINA MAC
            @media screen and (max-width: 1680px) {
              font-family: Satoshi-Regular, sans-serif;
              font-size: 20px;
              line-height: 30px;
              font-weight: 400;
            }

            @media screen and (max-width: 700px) {
              font-family: Satoshi-Regular, sans-serif;
              font-size: 18px;
              line-height: 22px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
