.high-quality {
  width: 100%;
  padding: 50px 0 50px 0;
  position: relative;
  // background: url(../../../../assets/images/css-bg.png);
  // background-color: var(--gray-bg);
  // background-color: var(--main-color);

  @keyframes bounce {
    0% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  @media screen and (max-width: 1200px) {
    height: auto;
    padding: 200px 0px 0px;
  }
  @media screen and (max-width: 900px) {
    height: auto;
    padding: 150px 0px 0px;
  }
  @media screen and (max-width: 600px) {
    height: auto;
    padding: 100px 0px 0px;
  }

  .indicator {
    animation: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .container {
    display: flex;
    justify-content: space-between;
    position: relative !important;
    // width: 97.5vw !important;
    left: 0;
    top: 0;
    right: 0;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // gap: 10px 10px;

    height: 100%;

    @media screen and (max-width: 1200px) {
      flex-direction: column;
      width: 100vw;
      transform: translateX(-50%);
      left: 50%;
      right: 50%;
      padding-bottom: 0px;
    }

    .left {
      width: 50%;
      // padding-top: 200px;
      position: relative;

      // h3 {
      //   font-style: normal;
      //   line-height: 70px;
      //   // max-width: 700px;
      //   font-weight: 700;
      //   font-size: 56px;
      //   // letter-spacing: 1px;
      //   margin-bottom: 30px;
      //   margin-top: -5px;
      //   color: var(--dark);

      //   // 2.5K
      //   @media (max-width: 2560px) {
      //     // margin-left: 550px;
      //   }
      //   // FULL HD
      //   @media (max-width: 1920px) {
      //     // margin-left: 330px;
      //   }
      //   // 13 RETINA MAC
      //   @media screen and (max-width: 1680px) {
      //     // margin-left: 250px;
      //     font-size: 46px;
      //     font-style: normal;
      //     line-height: 60px;
      //     font-weight: 700;
      //   }
      //   // WINDOWS
      //   @media screen and (max-width: 1366px) {
      //     // margin-left: 330px;
      //   }
      //   // HD
      //   @media screen and (max-width: 1280px) {
      //     // margin-left: 330px;
      //   }

      //   @media screen and (max-width: 700px) {
      //     font-size: 40px;
      //     font-style: normal;
      //     line-height: 50px;
      //     font-weight: 700;
      //   }
      // }

       h3 {
      font-size: 56px;
      line-height: 70px;
      font-weight: 700;
      // color: var(--white);

      // 13 RETINA MAC
      @media screen and (max-width: 1680px) {
        // margin-left: 250px;
        font-size: 46px;
        font-style: normal;
        line-height: 60px;
        font-weight: 700;
      }
      // WINDOWS
      @media screen and (max-width: 1366px) {
        // margin-left: 330px;
      }
      // HD
      @media screen and (max-width: 1280px) {
        // margin-left: 330px;
      }

      @media screen and (max-width: 700px) {
        font-size: 40px;
        font-style: normal;
        line-height: 50px;
        font-weight: 700;
      }
    }

      p {
        max-width: 500px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-transform: capitalize;
        color: var(--gray-color);
        // letter-spacing: 1px;
        margin: 20px 0 40px 0;
        // opacity: 0.7;
      }

      @media screen and (max-width: 1387px) {
        width: 55%;
      }
      @media screen and (max-width: 1200px) {
        padding-bottom: 0px;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
      }

      .get-started {
        margin-top: 30px;
        display: flex;
        align-items: center;

        button {
          margin-right: 20px;

          &:last-of-type {
            margin-right: 0px;
          }
        }
      }
    }

    .rightt {
      // display: grid;
      // grid-template-columns: repeat(2, 1fr);
      // gap: 30px;
      // padding: 40px 0;
      // margin-left: 20px;
      display: flex;
      flex: 1;
      height: 100%;
      // padding-top: 50px;

      .reason-item {
        height: 100%;
        width: 350px;
        background-color: var(--white);
      }

      @media screen and (max-width: 1200px) {
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;

        @media (max-width: 1385px) {
          width: 95%;
        }

        @media screen and (max-width: 1200px) {
          max-height: 400px;
          display: none;
        }

        @media screen and (max-width: 900px) {
          max-height: 400px;
          display: none;
        }
      }
    }
  }
}
