.faq {
  position: relative;
  background-color: var(--white);
  padding: 100px 0px;

  .faq-head {
    text-align: center;
    margin: 0 auto 30px auto;
    max-width: 850px;

    @media screen and (max-width: 1680px) {
      max-width: 750px;
    }

    @media screen and (max-width: 700px) {
      max-width: 750px;
    }

    h3 {
      font-size: var(--font-medium-one);
      line-height: 70px;
      font-weight: 700;
      margin-bottom: 30px;

      @media screen and (max-width: 1680px) {
        font-size: var(--font-medium-two);
        font-style: normal;
        line-height: 60px;
        font-weight: 700;
      }

      @media screen and (max-width: 700px) {
        font-size: var(--font-medium-three);
        font-style: normal;
        line-height: 36px;
        font-weight: 700;
      }
    }

    p {
      font-style: normal;
      font-weight: 500;
      font-size: var(--font-txt-one);
      line-height: 26px;
      text-transform: capitalize;
      color: var(--gray-color);

      @media screen and (max-width: 700px) {
        font-size: var(--font-txt-two);
        font-style: normal;
        max-width: 100%;
      }
    }

    @media screen and (max-width: 900px) {
      max-width: 530px;
      margin: 0 auto;
    }
  }

  .feature-icon {
    font-size: 50px;
    color: var(--main-color);
  }

  .newsletter-wrapper {
    max-width: 530px !important;
    text-align: center;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
      margin-bottom: 10px;
      color: var(--txt-light);
      font-family: NotoSans-Regular, sans-serif;
      font-size: 14px;
    }
    .form {
      width: 100% !important;
      font-family: NotoSans-Regular, sans-serif;
      font-size: 14px;
    }
  }

  .accordion-wrapper {
    max-width: 830px !important;
    margin: 50px auto 0px auto;

    .accordion {
      width: 100%;
      display: flex;
      flex-direction: column;

      > li {
        border-bottom: 1px solid #eaeaea;
        border-radius: 0px;
        padding: 0px 0px;
        margin-bottom: 0px;

        &:last-of-type {
          margin-bottom: 0px;
        }

        > button {
          display: flex;
          width: 100%;
          align-items: center;
          text-align: left;
          background: transparent;
          padding: 12px 0px;

          .head-info {
            display: flex;
            flex-direction: column;

            span {
              font-family: Satoshi-Bold;
              font-size: var(--font-min-one);
              font-weight: 900;

              @media screen and (max-width: 1680px) {
                font-size: 20px;
                line-height: 26px;
              }

              @media screen and (max-width: 700px) {
                font-size: var(--font-min-two);
                line-height: 19px;
              }
            }
          }

          .rotate {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            margin-left: auto;
            flex-shrink: 0;

            i {
              transition: all 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
            }

            .fas fa-caret-down {
              font-size: 20px;
              color: var(--primary);
            }
          }
        }

        > .content {
          margin-top: 0px;
          border-top: 1px solid rgba(244, 244, 244, 0.5);
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
            opacity 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
            visibility 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
            margin 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
            padding 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          opacity: 0;
          visibility: hidden;
          pointer-events: none;

          &.show {
            max-height: 400px;
            overflow-y: auto;
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            margin-top: 12px;
            padding: 24px 0px;

            @media screen and (max-width: 903px) {
              max-height: 700px;
            }
          }

          .subHead {
            font-size: 16px;
            line-height: 22px;
            font-family: Satoshi-Regular;
            color: var(--gray);

            @media screen and (max-width: 703px) {
              font-size: 10px;
              line-height: 16px;
            }

            > div {
              margin-right: 8px;
              width: 24px;
              height: 24px;
              border-radius: 50%;
              flex-shrink: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              background: rgba(93, 85, 255, 0.2);
            }
          }
        }
      }
    }
  }
}
