.our-clients {
  padding: 50px 0;
  background-color: var(--blue-light);
  @media screen and (max-width: 700px) {
    padding: 10px 0;
  }

  .companies-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .company-item {
      margin-right: 10px;

      .icon-width {
        width: 170px;

        @media screen and (max-width: 700px) {
          width: 50px;
        }
      }
    }
  }
}
